/*

0 - 600px :       Phone
600px - 900px :   Tablet portrait
900px - 1200px :  Tablet landscape

[1200px - 1800px] : is where our normal css will be applied

1800 + :          Big desktop

*/
/*
$breakpoint arguement choices:

  - phone
  - tab-port (portrait)
  - tab-land (landscape)
  - big-desktop


  ----------------
  ORDER: Base + Typography > General Layout + Grid > Page Layout > Components
  ----------------

  1em = 16px (since browser default font size is 16px)

  Devices in px to em
  (Reason to do px to em is if user changes the default font size in chrome to another font size then responsive should be reflected)

  phone (600px) =  600/16 = 37.5em
  tab-port (900px) =  900/16 = 56.25em
  tab-land (1200px) =  1200/16 = 75em
  big-desktop (1800px) =  1800/16 = 112.5em

*/
@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  80% {
    transform: translateY(-1rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(-10rem); }
  80% {
    transform: translateY(-1rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInButton {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  /*
        This defines what 1rem is
        1rem = 10px;
        10px / 16px = 62.5%
    */
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: #f7f7f7; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

::selection {
  background-color: #81d6d0;
  color: #fff; }

body {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777; }

.heading-primary {
  color: #000;
  text-transform: uppercase;
  backface-visibility: hidden; }
  .heading-primary--title {
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 0.15rem;
    animation: moveInBottom 1s ease-out; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation: moveInLeft 1s ease-out; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--main {
        font-size: 5rem;
        letter-spacing: 1rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-out; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: 0.5rem; } }
  .heading-primary--white {
    color: #fff; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #d8fefa, #049ab8);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all 0.2s; }
  @media only screen and (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem; } }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.3rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.3rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-large {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-large {
      margin-bottom: 5rem !important; } }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.u-margin-top-large-1 {
  margin-top: 9rem !important; }

.u-margin-top-large {
  margin-top: 8rem !important; }

.u-margin-top-medium {
  margin-top: 6rem !important; }

.u-margin-right-small {
  margin-right: 1rem; }

.u-section-padding {
  padding: 4rem 6rem; }

.u-grow-1 {
  flex-grow: 1 !important; }

.u-full-width {
  width: 100% !important; }

.u-text-align-left {
  text-align: left; }

.u-text-align-center {
  text-align: center; }

/*
Types of button : 1. button (className="btn-button", 2. link (className="btn-link")
*/
.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.2s;
  position: relative;
  font-size: 1.3rem;
  color: #000;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer; }

.btn__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-right: 1rem; }

.btn--icon-right {
  flex-direction: row-reverse !important; }
  .btn--icon-right .btn__icon {
    margin-right: 0rem;
    margin-left: 1rem; }

.btn--active {
  color: #4bbab1 !important;
  background: #edf0f0 !important; }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn--green {
  background-color: #81d6d0;
  color: #fff; }
  .btn--green::after {
    background-color: #81d6d0; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.2s; }

.btn--animated {
  animation: moveInButton 0.5s ease-out 0.75s;
  animation-fill-mode: backwards; }

.btn--button {
  padding: 1.8rem 4rem;
  border-radius: 10rem; }
  .btn--button:hover, .btn--button:focus {
    outline: none;
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .btn--button:hover::after, .btn--button:focus::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }

.btn--link {
  color: #000; }
  .btn--link:hover {
    color: #2194c4; }
  .btn--link-1 {
    border-bottom: 1px solid #81d6d0 !important;
    padding: 3px; }
    .btn--link-1:hover {
      background-color: #81d6d0;
      color: #fff;
      transform: translateY(-2px); }
    .btn--link-1:active {
      color: #fff;
      transform: translateY(-2px); }
    .btn--link-1:hover {
      box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.15); }
    .btn--link-1:active {
      box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.15); }
  .btn--link-2 {
    border-bottom: 1px solid #81d6d0 !important;
    padding: 3px; }
    .btn--link-2:hover {
      background-color: #81d6d0;
      color: #fff;
      transform: translateY(-2px); }
    .btn--link-2:active {
      color: #fff;
      transform: translateY(-2px); }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  transition: all 0.3s; }
  @media only screen and (max-width: 56.25em) {
    .form__input {
      width: 100%; } }
  .form__input:focus {
    outline: none;
    box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.15);
    border-bottom: 3px solid #81d6d0; }
    .form__input:focus:invalid {
      border-bottom: 3px solid #ab1b1d; }
  .form__input::-webkit-input-placeholder {
    color: #999; }

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.2s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form__radio-group {
  width: 49%;
  display: inline-block; }
  @media only screen and (max-width: 56.25em) {
    .form__radio-group {
      width: 100%;
      margin-bottom: 2rem; } }

.form__radio-label {
  font-size: 1.3rem;
  cursor: pointer;
  position: relative;
  padding-left: 4.5rem; }

.form__radio-input {
  display: none; }

.form__radio-button {
  height: 3rem;
  width: 3rem;
  border: 5px solid #81d6d0;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -0.6rem; }
  .form__radio-button::after {
    content: "";
    display: block;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #81d6d0;
    opacity: 0;
    transition: opacity 0.2s; }

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1; }

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s; }
  @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
    .popup {
      -webkit-backdrop-filter: blur(10px);
      -backdrop-filter: blur(10px);
      background-color: rgba(0, 0, 0, 0.3); } }
  .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    background-color: #fff;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    display: table;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.25);
    transition: all 0.5s 0.2s; }
  .popup__left {
    width: calc(100% / 3);
    display: table-cell; }
  .popup__right {
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem; }
  .popup__image {
    width: 100%;
    display: block; }
  .popup__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;
    -moz-column-count: 2;
    -moz-column-gap: 4rem;
    -moz-column-rule: 1px solid #eee;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid #eee;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .popup__close:link, .popup__close:visited {
    color: #777;
    position: absolute;
    top: 2.5rem;
    right: 3.5rem;
    font-size: 3rem;
    text-decoration: none;
    display: inline-block;
    transition: all 0.2s;
    line-height: 1; }
  .popup__close:hover {
    color: #81d6d0; }

.toggle-button__checkbox {
  display: none; }

.toggle-button__button {
  z-index: 2000;
  text-align: center;
  cursor: pointer; }

.toggle-button__icon {
  position: relative;
  margin-top: 2.5rem; }
  .toggle-button__icon, .toggle-button__icon::before, .toggle-button__icon::after {
    width: 2.5rem;
    height: 3px;
    background-color: #333;
    display: inline-block;
    transition: all 0.2s; }
  .toggle-button__icon::before, .toggle-button__icon::after {
    content: "";
    position: absolute;
    left: 0; }
  .toggle-button__icon::before {
    top: -0.8rem; }
  .toggle-button__icon::after {
    top: 0.8rem; }

.toggle-button__button:hover .toggle-button__icon::before {
  top: -1rem; }

.toggle-button__button:hover .toggle-button__icon::after {
  top: 1rem; }

.toggle-button__checkbox:checked ~ .toggle-button__button .toggle-button__icon {
  background-color: transparent; }

.toggle-button__checkbox:checked ~ .toggle-button__button .toggle-button__icon::before {
  top: 0;
  transform: rotate(135deg); }

.toggle-button__checkbox:checked ~ .toggle-button__button .toggle-button__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.table {
  background: linear-gradient(to right bottom, rgba(238, 238, 238, 0.1), rgba(247, 247, 247, 0.1));
  padding: 3rem;
  box-shadow: 1px 0px 5px -1px #757575;
  width: 100%;
  font-size: 1.4rem;
  column-count: 5; }
  .table-head {
    text-transform: uppercase;
    padding: 1rem 0; }
  .table-row:not(.table-row--head):hover {
    background: rgba(238, 238, 238, 0.3); }
  .table-row--head {
    background: rgba(204, 204, 204, 0.3); }
  .table-cell, .table-head {
    padding: 1rem 1rem;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    font-size: 1.3rem;
    letter-spacing: 0.12rem; }
    .table-cell:first-child, .table-head:first-child {
      border-left: 1px solid #ccc; }
  .table-head {
    border-top: 1px solid #ccc; }
  .table--border-collapse {
    border-collapse: collapse; }

.header {
  height: 6rem;
  background-image: linear-gradient(to right bottom, #d8fefa, #81d6d0);
  background-size: cover;
  background-position: top;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1600; }
  .header__content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20rem; }
  .header__menus {
    list-style: none;
    display: flex;
    align-items: center;
    color: #eee;
    font-size: 1.3rem;
    letter-spacing: 0.12rem;
    margin: 0; }
    .header__menus-item:not(:last-child) {
      margin-right: 2.5rem; }
    .header__menus-item a {
      color: #000;
      font-size: inherit;
      letter-spacing: inherit;
      text-decoration: none;
      text-transform: uppercase; }
  .header__user-name {
    color: #000;
    font-size: 1.3rem; }
  .header__user-icon {
    color: #000;
    font-size: 2rem;
    transition: all 0.2s; }
    .header__user-icon:hover {
      color: blue;
      transform: scale(1.1); }

.layout__container {
  display: flex;
  justify-content: center;
  height: 100vh; }

.layout__right {
  padding: 2rem;
  padding-top: 7rem; }

.section-topbar {
  background-image: linear-gradient(to right bottom, #d8fefa, #81d6d0);
  background-size: cover;
  background-position: top;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  margin-top: 0rem;
  margin-bottom: 2rem;
  padding: 1.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.sidebar {
  -webkit-box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.15);
  box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.15);
  padding-top: 7rem;
  height: 100%;
  background: linear-gradient(to right bottom, rgba(238, 238, 238, 0.5), rgba(247, 247, 247, 0.2));
  position: relative; }
  .sidebar__list {
    list-style: none;
    margin: 0;
    padding: 2rem 1.5rem;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto; }
  .sidebar--open .btn__text {
    display: none; }
  .sidebar__toggler-box {
    position: absolute;
    top: 0.5rem;
    right: 0;
    z-index: 1602; }
