.header {
    height: 6rem;
    background-image: linear-gradient(to right bottom, rgba($color-primary-light, 1), rgba($color-primary, 1));
    background-size: cover;
    background-position: top;
    box-shadow: $box-shadow-2;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1600;

    &__content {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20rem;
    }

    &__menus {
        list-style: none;
        display: flex;
        align-items: center;
        color: $color-grey-light-2;
        font-size: $default-font-size;
        letter-spacing: 0.12rem;
        margin: 0;

        &-item {
            &:not(:last-child) {
                margin-right: 2.5rem;
            }

            a {
                color: $color-black;
                font-size: inherit;
                letter-spacing: inherit;
                text-decoration: none;
                text-transform: uppercase;
            }
        }
    }

    &__user {
        &-name {
            color: $color-black;
            font-size: $default-font-size;
        }
        &-icon {
            color: $color-black;
            font-size: 2rem;
            transition: all 0.2s;

            &:hover {
                color: blue;
                transform: scale(1.1);
            }
        }
    }
}
