.header {
    height: 8rem;
    background-image: linear-gradient(to right bottom, rgba($color-primary, 0.8), rgba($color-primary-light, 0.8));
    background-size: cover;
    background-position: top;
    box-shadow: $box-shadow-2;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    &__content {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20rem;
    }

    &__menus {
        list-style: none;
        display: flex;
        align-items: center;
        color: $color-grey-light-2;
        font-size: 1.6rem;
        letter-spacing: 0.12rem;

        &-item {
            margin: 0 2rem;

            a {
                color: $color-white;
                font-size: inherit;
                letter-spacing: inherit;
                text-decoration: none;
            }
        }
    }
}
