/*
Types of button : 1. button (className="btn-button", 2. link (className="btn-link")
*/

.btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.2s;
    position: relative;
    font-size: $default-font-size;
    color: $color-black;
    @include flexVerticalCenter;
    background-color:transparent;

    //change for <button> element
    border: none;
    cursor: pointer;
  }

  &__icon {
    @include flexFullCenter;
    font-size: 2rem;
    margin-right: 1rem;
  }

  &--icon-right {
    flex-direction: row-reverse !important;

    .btn__icon {
      margin-right: 0rem;
      margin-left: 1rem;
    }
  }

  &--active {
    color: $color-primary-active !important;
    background: $color-grey-light !important;
  }

  &--white {
    background-color: $color-white;
    color: $color-grey-dark;

    &::after {
      background-color: $color-white;
    }
  }

  &--green {
    background-color: $color-primary;
    color: $color-white;

    &::after {
      background-color: $color-primary;
    }
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.2s;
  }

  &--animated {
    animation: moveInButton 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
  }

  &--button {
    padding: 1.8rem 4rem;
    border-radius: 10rem;

    &:hover,
    &:focus {
      outline: none;
      transform: translateY(-0.3rem);
      box-shadow: $box-shadow-4;

      &::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
      }
    }
  }

  &--link {
    color: $color-black;

    &:hover {
      color: $color-blue-light;
    }

    &-1 {
      @include buttonLinksTypeCommonStyle;
      &:hover {
        box-shadow: $box-shadow-3;
      }
      &:active {
        box-shadow: $box-shadow-1;
      }
    }
    &-2 {
      @include buttonLinksTypeCommonStyle;
    }
  }
}
