.table {
    background: linear-gradient(to right bottom, rgba(238, 238, 238, 0.1), rgba(247, 247, 247, 0.1));
    padding: 3rem;
    box-shadow: $box-shadow;
    width: 100%;
    font-size: 1.4rem;
    column-count: 5;

    &-head {
        text-transform: uppercase;
        padding: 1rem 0;
    }

    &-row:not(.table-row--head):hover {
        background: rgba($color-grey-light-2, 0.3);
    }

    &-row--head {
        background: rgba($color-grey-light-3, 0.3);
    }

    &-cell,
    &-head {
        padding: 1rem 1rem;
        border-bottom: $border-table;
        border-right: $border-table;
        font-size: 1.3rem;
        letter-spacing: 0.12rem;

        &:first-child {
            border-left: $border-table;
        }
    }

    &-head {
        border-top: $border-table;
    }

    &--border-collapse {
        border-collapse: collapse;
    }
}
