.table {
    background: linear-gradient(to right bottom, rgba(238, 238, 238, 0.5), rgba(247, 247, 247, 0.2));
    padding: 3rem;
    box-shadow: $box-shadow;
    width: 100%;
    font-size: 1.4rem;

    &-head {
        text-transform: uppercase;
        padding: 1rem 0;
    }

    &-row {
    }
    &-cell {
        padding: 1rem 1rem;
        border-bottom: 1px solid #ccc;
        border-right: 1px solid #ccc;

        &:not(last-child) {
        }
    }
}
