.toggle-button {
    &__checkbox {
        display: none;
    }

    &__button {
        z-index: 2000;
        text-align: center;
        cursor: pointer;
    }

    &__icon {
        position: relative;
        margin-top: 2.5rem;

        &,
        &::before,
        &::after {
            width: 2.5rem;
            height: 3px;
            background-color: $color-grey-dark-3;
            display: inline-block;
            transition: all 0.2s;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
        }

        &::before {
            top: -0.8rem;
        }

        &::after {
            top: 0.8rem;
        }
    }

    &__button:hover &__icon::before {
        top: -1rem;
    }

    &__button:hover &__icon::after {
        top: 1rem;
    }

    &__checkbox:checked ~ &__button &__icon {
        background-color: transparent;
    }

    &__checkbox:checked ~ &__button &__icon::before {
        top: 0;
        transform: rotate(135deg);
    }

    &__checkbox:checked ~ &__button &__icon::after {
        top: 0;
        transform: rotate(-135deg);
    }
}
